/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
}

/* ADDED STYLES */

a {
    text-decoration: none;
    color: black;
}

a:hover {
    padding: 17px;
    color: aliceblue;
    background-color: dimgray;
}

.link-style { 
    color: black;
}

.flex {
    padding-right: 500px;
    color: antiquewhite;
    list-style-type:none;
    justify-content:space-between;
    display: flex;
    flex-grow: 5;
}

/* MAIN */

.main-content {
    padding: 10px;
    background-color: #dedede;
    border: 3px double gray; 
}